@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #2e3440 !important;
    --zen-primary-color: #2e3440 !important;
    --zen-colors-secondary: #2e3440 !important;
    --zen-colors-tertiary: #2e3440 !important;
    --zen-colors-hover-bg: #2e3440 !important;
    --zen-colors-primary-foreground: #2e3440 !important;
    --zen-colors-border: #2e3440 !important;
    --zen-colors-border-contrast: #2e3440 !important;
    --zen-colors-input-bg: #2e3440 !important;
    --zen-dialog-background: #2e3440 !important;
    --zen-urlbar-background: #2e3440 !important;
    --zen-urlbar-background-base: #2e3440 !important;
    --toolbarbutton-icon-fill: #d8dee9 !important;
    --lwt-text-color: #d8dee9 !important;
    --toolbar-field-color: #d8dee9 !important;
    --tab-selected-textcolor: #81a1c1 !important;
    --toolbar-field-focus-color: #d8dee9 !important;
    --toolbar-color: #d8dee9 !important;
    --newtab-text-primary-color: #d8dee9 !important;
    --arrowpanel-color: #d8dee9 !important;
    --arrowpanel-background: #2e3440 !important;
    --sidebar-text-color: #d8dee9 !important;
    --lwt-sidebar-text-color: #d8dee9 !important;
    --lwt-sidebar-background-color: #2e3440 !important;
    --toolbar-bgcolor: #2e3440 !important;
    --newtab-background-color: #2e3440 !important;
    --zen-themed-toolbar-bg: #2e3440 !important;
    --zen-main-browser-background: #2e3440 !important;
    --toolbox-bgcolor-inactive: #2e3440 !important;
    --urlbar-box-active-bgcolor: #2e3440 !important;
    --zen-input-border-color: #2e3440 !important;
    --urlbar-box-hover-bgcolor: #2e3440 !important;
    --input-bgcolor: #2e3440 !important;
    --toolbar-field-focus-background-color: #2e3440 !important;
  }

  #permissions-granted-icon {
    color: #d8dee9 !important;
  }

  .sidebar-placesTree {
    background-color: #2e3440 !important;
  }

  #zen-workspaces-button {
    background-color: #2e3440 !important;
  }

  #TabsToolbar {
    background-color: #2e3440 !important;
  }

  .content-shortcuts {
    background-color: #2e3440 !important;
    border-color: #2e3440 !important;
  }  

  #urlbar {
    background-color: #2e3440 !important;
  }

  #urlbar-background {
    background-color: #2e3440 !important;
  }
  
  .urlbar-background {
    background-color: #2e3440 !important;
  }

  .urlbarView-url {
    color: #d8dee9 !important;
  }

  .urlbarView-title-separator::before {
    color: #d8dee9 !important;
  }

  .urlbarView-row {
    color: #d8dee9 !important;
  }

  #urlbar-label-box {
    background-color: #2e3440 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #2e3440 !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #2e3440 !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked])
        > :is(
          .toolbarbutton-icon,
          .toolbarbutton-text,
          .toolbarbutton-badge-stack
        ) {
        fill: #2e3440;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #81a1c1 !important;
    --identity-icon-color: #81a1c1 !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #8fbcbb !important;
    --identity-icon-color: #8fbcbb !important;
  }

  .identity-color-green {
    --identity-tab-color: #a3be8c !important;
    --identity-icon-color: #a3be8c !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #ebcb8b !important;
    --identity-icon-color: #ebcb8b !important;
  }

  .identity-color-orange {
    --identity-tab-color: #d08770 !important;
    --identity-icon-color: #d08770 !important;
  }

  .identity-color-red {
    --identity-tab-color: #bf616a !important;
    --identity-icon-color: #bf616a !important;
  }

  .identity-color-pink {
    --identity-tab-color: #b48ead !important;
    --identity-icon-color: #b48ead !important;
  }

  .identity-color-purple {
    --identity-tab-color: #b48ead !important;
    --identity-icon-color: #b48ead !important;
  }

  hbox#titlebar {
    background-color: #2e3440 !important;
  }

  #zen-appcontent-navbar-container {
    background-color: #2e3440 !important;
  }
}
