@import "../fedmahn/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 16px;
}

#waybar {
  background: yellow;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0.5rem;
  margin: 0 .125rem;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#memory,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update,
#network {
  min-width: 12px;
  margin: 0 0.75rem;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 10px;
}

#custom-update {
  margin-right: 10px;
}

#network {
  margin-right: 10px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin-left: 8.75px;
}

#custom-sep {
  padding: 0 .5rem;
  color: #3b4261;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
