@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #1a1b26 !important;
    --zen-primary-color: #1a1b26 !important;
    --zen-colors-secondary: #1a1b26 !important;
    --zen-colors-tertiary: #1a1b26 !important;
    --zen-colors-hover-bg: #1a1b26 !important;
    --zen-colors-primary-foreground:  #1a1b26 !important;
    --zen-colors-border: #1a1b26 !important;
    --zen-colors-border-contrast: #1a1b26 !important;
    --zen-colors-input-bg: #1a1b26 !important;
    --zen-dialog-background: #1a1b26 !important;
    --zen-urlbar-background: #1a1b26 !important;
    --zen-urlbar-background-base: #1a1b26 !important;
    --toolbarbutton-icon-fill: #c0caf5 !important;
    --lwt-text-color: #c0caf5 !important;
    --toolbar-field-color: #c0caf5 !important;
    --tab-selected-textcolor: #89b4fa !important;
    --toolbar-field-focus-color: #c0caf5 !important;
    --toolbar-color: #c0caf5 !important;
    --newtab-text-primary-color: #c0caf5 !important;
    --arrowpanel-color: #c0caf5 !important;
    --arrowpanel-background: #1a1b26 !important;
    --sidebar-text-color: #c0caf5 !important;
    --lwt-sidebar-text-color: #c0caf5 !important;
    --lwt-sidebar-background-color: #1a1b26 !important;
    --toolbar-bgcolor: #1a1b26 !important;
    --newtab-background-color: #1a1b26 !important;
    --zen-themed-toolbar-bg: #1a1b26 !important;
    --zen-main-browser-background: #1a1b26 !important;
    --toolbox-bgcolor-inactive: #1a1b26 !important;
    --urlbar-box-active-bgcolor: #1a1b26 !important;
    --zen-input-border-color: #1a1b26 !important;
    --urlbar-box-hover-bgcolor: #1a1b26 !important;
    --input-bgcolor: #1a1b26 !important;
    --toolbar-field-focus-background-color: #1a1b26 !important;
  }

  #permissions-granted-icon {
    color: #c0caf5 !important;
  }

  .sidebar-placesTree {
    background-color: #1a1b26 !important;
  }

  #zen-workspaces-button {
    background-color: #1a1b26 !important;
  }

  #TabsToolbar {
    background-color: #1a1b26 !important;
  }

  .content-shortcuts {
    background-color: #1a1b26 !important;
    border-color: #1a1b26 !important;
  }  

  #urlbar {
    background-color: #1a1b26 !important;
  }

  #urlbar-background {
    background-color: #1a1b26 !important;
  }
  
  .urlbar-background {
    background-color: #1a1b26 !important;
  }

  .urlbarView-url {
    color: #c0caf5 !important;
  }

  .urlbarView-title-separator::before {
    color: #c0caf5 !important;
  }

  .urlbarView-row {
    color: #c0caf5 !important;
  }

  #urlbar-label-box {
    background-color: #1a1b26 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #1a1b26 !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #1a1b26 !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked])
        > :is(
          .toolbarbutton-icon,
          .toolbarbutton-text,
          .toolbarbutton-badge-stack
        ) {
        fill: #1a1b26;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #7aa2f7 !important;
    --identity-icon-color: #7aa2f7 !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #2ac3de !important;
    --identity-icon-color: #2ac3de !important;
  }

  .identity-color-green {
    --identity-tab-color: #73daca !important;
    --identity-icon-color: #73daca !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #e0af68 !important;
    --identity-icon-color: #e0af68 !important;
  }

  .identity-color-orange {
    --identity-tab-color: #ff9e64 !important;
    --identity-icon-color: #ff9e64 !important;
  }

  .identity-color-red {
    --identity-tab-color: #f7768e !important;
    --identity-icon-color: #f7768e !important;
  }

  .identity-color-pink {
    --identity-tab-color: #fcb7c3 !important;
    --identity-icon-color: #fcb7c3 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #bb9af7 !important;
    --identity-icon-color: #bb9af7 !important;
  }

  hbox#titlebar {
    background-color: #1a1b26 !important;
  }

  #zen-appcontent-navbar-container {
    background-color: #1a1b26 !important;
  }
}
