* {
    background-image: none;
    font-size: 28px;
}

@define-color bar-bg rgba(0, 0, 0, 0);

/* Nord Color Palette */
@define-color main-bg #2e3440;  /* Nord0 - Polar Night darkest */
@define-color main-fg #88c0d0;  /* Nord8 - Frost blue */

@define-color wb-act-bg #b48ead; /* Nord15 - Aurora purple */
@define-color wb-act-fg #8fbcbb; /* Nord7 - Frost cyan */

@define-color wb-hvr-bg #5e81ac; /* Nord10 - Frost dark blue */
@define-color wb-hvr-fg #eceff4; /* Nord6 - Snow Storm lightest */

window {
    background-color: rgba(0,0,0,0.5);
}

button {
    color: white;
    background-color: @main-bg;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @wb-hvr-bg;
    background-size: 30%;
}

button:hover {
    background-color: @wb-hvr-bg;
    background-size: 40%;
    border-radius: 30px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.1);
}

button:hover#lock {
    border-radius: 30px;
    margin : 331px 0px 331px 403px;
}

button:hover#logout {
    border-radius: 30px;
    margin : 331px 0px 331px 0px;
}

button:hover#suspend {
    border-radius: 30px;
    margin : 331px 0px 331px 0px;
}

button:hover#shutdown {
    border-radius: 30px;
    margin : 331px 0px 331px 0px;
}

button:hover#hibernate {
    border-radius: 30px;
    margin : 331px 0px 331px 0px;
}

button:hover#reboot {
    border-radius: 30px;
    margin : 331px 403px 331px 0px;
}

#lock {
    background-image: image(url("/home/r0b/.config/wlogout/icons/lock_white.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 30px 0px 0px 30px;
    margin : 403px 0px 403px 403px;
}

#logout {
    background-image: image(url("/home/r0b/.config/wlogout/icons/logout_white.png"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 403px 0px 403px 0px;
}

#suspend {
    background-image: image(url("/home/r0b/.config/wlogout/icons/suspend_white.png"), url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 403px 0px 403px 0px;
}

#shutdown {
    background-image: image(url("/home/r0b/.config/wlogout/icons/shutdown_white.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 403px 0px 403px 0px;
}

#hibernate {
    background-image: image(url("/home/r0b/.config/wlogout/icons/hibernate_white.png"), url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 403px 0px 403px 0px;
}

#reboot {
    background-image: image(url("/home/r0b/.config/wlogout/icons/reboot_white.png"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 0px 30px 30px 0px;
    margin : 403px 403px 403px 0px;
}
